.bor0 {
  border-radius: 50%;
}

.bor1 {
  border-radius: 23px;
}

.bor2 {
  border-radius: 20px;
}

.bor3 {
  border-bottom: 1px solid transparent;
}

.bor4 {
  border: 1px solid #e6e6e6;
  border-radius: 3px;
}

.bor5 {
  border-left: 1px solid #e5e5e5;
  border-right: 1px solid #e5e5e5;
}

.bor6 {
  border-right: 1px solid rgba(255, 255, 255, 0.1);
}

.bor7 {
  border: 1px solid #ccc;
  border-radius: 15px;
}

.bor8 {
  border: 1px solid #e6e6e6;
  border-radius: 2px;
}

.bor9 {
  border-right: 1px solid #e6e6e6;
}

.bor10 {
  border: 1px solid #e6e6e6;
}

.bor11 {
  border-radius: 21px;
}

.bor12 {
  border-bottom: 1px dashed #d9d9d9;
}

.bor13 {
  border: 1px solid #e6e6e6;
  border-radius: 22px;
}

.bor14 {
  border-radius: 25px;
}

.bor15 {
  border-left: 1px solid #e6e6e6;
  border-right: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
}

.bor16 {
  border-left: 3px solid #e6e6e6;
}

.bor17 {
  border: 1px solid #e6e6e6;
  border-radius: 25px;
}

/*---------------------------------------------*/
.bor18 {
  border-top: 1px solid #e6e6e6;
}

.bor18:last-child {
  border-bottom: 1px solid #e6e6e6;
}

/*---------------------------------------------*/
.bor19 {
  border: 1px solid #d9d9d9;
  border-radius: 2px;
}

.text-link {
  text-decoration: none;
  font-family: Poppins-Regular;
  font-size: 16px;
  line-height: 1.833333;
  color: #555;
}
.text-color {
  color: #999;
}

/* Table */

.wrap-table-shopping-cart {
  overflow: auto;
  border-left: 1px solid #e6e6e6;
  border-right: 1px solid #e6e6e6;
}

.table-shopping-cart {
  border-collapse: collapse;
  width: 100%;
  min-width: 680px;
}

.table-shopping-cart tr {
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
}

.table-shopping-cart .column-1 {
  width: 133px;
  padding-left: 50px;
}

.table-shopping-cart .column-2 {
  width: 220px;
  font-size: 15px;
}

.table-shopping-cart .column-3 {
  width: 120px;
  font-size: 16px;
}

.table-shopping-cart .column-4 {
  width: 145px;
  text-align: right;
}

.table-shopping-cart .column-5 {
  width: 172px;
  padding-right: 50px;
  text-align: right;
  font-size: 16px;
}

.table-shopping-cart .table_row {
  height: 185px;
}

.table-shopping-cart .table_row td {
  padding-bottom: 20px;
  text-align: center;
}

.table-shopping-cart .table_row td.column-1 {
  padding-bottom: 30px;
}

.table-shopping-cart .table_head th {
  font-family: Poppins-Bold;
  font-size: 13px;
  color: #555;
  text-transform: uppercase;
  line-height: 1.6;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
}

.table-shopping-cart td {
  font-family: Poppins-Regular;
  color: #555;
  line-height: 1.6;
}

/* input number */
.wrap-num-product {
  width: 140px;
  height: 45px;
  border: 1px solid #e6e6e6;
  border-radius: 3px;
  /* overflow: hidden; */
}
.wrap-input {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45px;
  width: 100%;
}

.btn-num-product-up,
.btn-num-product-down {
  width: 45px;
  height: 100%;
  cursor: pointer;
}

.num-product {
  width: calc(100% - 90px);
  height: 100%;
  border-left: 1px solid #e6e6e6;
  border-right: 1px solid #e6e6e6;
  background-color: #f7f7f7;
}

input.num-product {
  -moz-appearance: textfield;
  appearance: none;
  -webkit-appearance: none;
}

input.num-product::-webkit-outer-spin-button,
input.num-product::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.btn-num-product-down:hover,
.btn-num-product-up:hover {
  border-color: #717fe0;
  background-color: #717fe0;
  color: #fff;
}
.spanplus {
  font-size: 16px;
}

/* selecte */
.rs1-select2 .select2-container {
  display: block;
  max-width: 100% !important;
  width: auto !important;
}

.rs1-select2 .select2-container .select2-selection--single {
  height: 45px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  border: none;
  outline: none;
  background-color: transparent;
  border-radius: 0px;
  position: relative;
}

/*------------------------------------------------------------------
 [ in select ]*/
.rs1-select2
  .select2-container
  .select2-selection--single
  .select2-selection__rendered {
  font-size: 13px;
  color: #555;
  line-height: 1.2;
  padding-left: 20px;
  background-color: transparent;
}

.rs1-select2
  .select2-container--default
  .select2-selection--single
  .select2-selection__arrow {
  width: 38px;
  height: 20px;
  top: calc(50% - 10px);
  right: 5px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  border-left: 1px solid #e6e6e6;
}

.rs1-select2
  .select2-container--default
  .select2-selection--single
  .select2-selection__arrow
  b {
  display: none;
}

.rs1-select2
  .select2-container--default
  .select2-selection--single
  .select2-selection__arrow::after {
  content: "\f0dc";

  font-size: 13px;
  color: #808080;
}

.rs1-select2
  .select2-container--default
  .select2-selection--single
  .select2-selection__arrow:hover:after {
  color: #6c7ae0;
}

/*------------------------------------------------------------------
 [ Dropdown option ]*/
.rs1-select2 .select2-container--open .select2-dropdown {
  z-index: 1251;
  width: 100%;
  border: 1px solid #fff;
  border-radius: 0px;
  overflow: hidden;
  background-color: white;
  left: 0px;

  box-shadow: 0 3px 10px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 3px 10px 0px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 3px 10px 0px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 3px 10px 0px rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 0 3px 10px 0px rgba(0, 0, 0, 0.2);
}

.rs1-select2 .select2-dropdown--above {
  top: -2px;
}
.rs1-select2 .select2-dropdown--below {
  top: 2px;
}

.rs1-select2 .select2-container .select2-results__option[aria-selected] {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
}

.rs1-select2 .select2-container .select2-results__option[aria-selected="true"] {
  background: #6c7ae0;
  color: white;
}

.rs1-select2
  .select2-container
  .select2-results__option--highlighted[aria-selected] {
  background: #6c7ae0;
  color: white;
}

.rs1-select2 .select2-results__options {
  font-size: 13px;
  color: #555;
  line-height: 1.2;
}

.rs1-select2 .select2-search--dropdown .select2-search__field {
  border: 1px solid #aaa;
  outline: none;

  font-size: 13px;
  color: #555;
  line-height: 1.2;
}

/*------------------------------------------------------------------
 [ rs2 ]*/
.rs2-select2 .select2-container .select2-selection--single {
  height: 40px;
}

.rs2-select2
  .select2-container
  .select2-selection--single
  .select2-selection__rendered {
  padding-left: 15px;
}

.rs2-select2
  .select2-container--default
  .select2-selection--single
  .select2-selection__arrow {
  width: 35px;
  right: 0px;
  border-left: none;
}

.rs2-select2
  .select2-container--default
  .select2-selection--single
  .select2-selection__arrow::after {
  content: "\f0d7";
}

.btn-Apply {
  /* border: 1px solid #e6e6e6; */
  border-radius: 22px;
  background-color: #f3f3f3;
  min-width: 163px;
  height: 45px;
  font-size: 15px;
  line-height: 1.466667;
  text-transform: uppercase;
  transition: all 0.5s linear;
}
.btn-Apply:hover {
  border-color: #717fe0;
  background-color: #717fe0;
  color: #fff;
}
.input-coupon {
  border: 1px solid #e6e6e6;
  border-radius: 22px;
  width: 220px;
  height: 45px;
  font-size: 14px;
  line-height: 1.466667;
  color: #333;
}
.dropdown-item:hover,
.dropdown-item:focus {
  color: #fff;
  background-color: #717fe0;
}
.btn-info {
  border: none;
  width: 100%;
  background-color: transparent;
}
.btn-info:hover {
  color: #000;
  background-color: transparent;
  border-color: #999999;
}
.show > .btn-info.dropdown-toggle:focus {
  box-shadow: none;
}
.show > .btn-info.dropdown-toggle {
  color: #000;
  background-color: transparent;
  border-color: #9999;
}
.btn-info:focus {
  color: #000;
  background-color: transparent;
  border-color: #9999;
  box-shadow: none;
}

.dropdown-menu.show {
  display: block;
  width: 100%;
}
.form-control:focus {
  color: #717fe0;
  background-color: #fff;
  outline: 0;
}
.span-nothing {
  font-size: 24px;
}
.link-detail {
  text-decoration: none;
}
.infomation {
  margin-top: 95px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 30px 0;
}
