.nav-link {
  font-size: 1.2rem;
}
.nav-link:hover {
  color: #0d6efd !important;
}

.nav-link.active {
  border-bottom: solid blue 1px;
}
.nav-item {
  color: #b2b2b2;
  cursor: default;
  transition:all .2s
}
.nav-item:hover {
  color: #0d6efd;
}
footer,
.list-group-item {
  background: #222;
}

@media screen and (max-width: 799px) {
  .top-bar {
    display: none;
  }
  .nav-item {
    font-size:1.3rem;
    padding-left: 1rem;
  }
  .nav-item:hover {
    background-color: white;
  }
}
